@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;

    background-image: url("https://images.unsplash.com/photo-1514210726275-826e1f34b1ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2826&q=80");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Open Sans', sans-serif;
    color: white;
}

/*
 =======  Nav =======
 */

nav {
    border-bottom: 2.25px dashed gray;
    position: fixed;
    width: 100%;
}

nav > h1 {
    left: 35px;
    position: relative;
    padding: 10px;
}

/*
 =======  Main =======
 */

main {
    width: 100%;
    top: 150px;
    align-content: center;
    justify-content: center;
    position: absolute;
}

main > div {
    left: 35px;
    padding: 10px;
    position: relative;
}

main > form {
    left: 35px;
    padding: 10px;
    position: relative;
    width: 500px;
}

input[type="text"] {
    width: 350px;
    /*background: none !important;*/
    /*border: 1px solid turquoise;*/
    padding: 10px;
    font-size: 15px;
    border-radius: 25px;
    color: turquoise;
    opacity: .55;
    z-index: 999;
}

input[type="text"]:focus {
    opacity: .8;
    outline: none;
}

#submit {
    padding: 10px;
    width: 250px;
    border-radius: 25px;
    opacity: .55;
    font-size: 15px;
    color: gray;
    background-color: white;
}

#submit:hover {
    opacity: .9;
    color: white;
    background-color: gray;
}

/*
 =======  Footer =======
 */

footer {
    width: 100%;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 90px;
}

footer > ul {
    left: 35px;
    padding: 10px;
    position: relative;
}

footer > div {
    left: 35px;
    padding: 10px;
    position: relative;
}

footer > ul > li > a, main > div > *, footer > div > a {
    color: white;
}

footer > ul > li > a, footer > div > a {
    text-decoration: none;
    color: gray;
}

/*
 ======= Mobile =======
 */

@media (max-height: 850px) {
    footer {
        top: 220px;
        left: 40%;
    }

    footer#home {
        top: 220px;
        left: 0;
    }

    footer > ul > li > a, footer > div > a {
        color: white;
    }
}

@media (max-height: 850px) and (max-width: 1200px) {
    footer {
        display: none;
    }
}